# Dependencies
node_modules/
.pnp
.pnp.js

# Build
.next/
out/
dist/
*.tsbuildinfo

# .NET
apps/api/**/bin/
apps/api/**/obj/
*.user
*.suo

# Turbo
.turbo/

# Environment
.env
.env.local
.env.*.local

# IDE
.vs/
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
docker/nginx/certs/

# Expo
apps/mobile/.expo/
apps/mobile/android/
apps/mobile/ios/

# Debug
npm-debug.log*

# Sentry
.sentryclirc
